@model FornecedoresEmpresa.ViewModel.TelefoneFornecedorPartialViewModel

@{
    var name = Model.NomeLista + "[" + Model.Indice + "]." + nameof(Model.Numero);
    Layout = "";
}
<div id="@Model.DivId">
    @Html.LabelFor(m => m.Numero)

    @Html.EditorFor(m => m.Numero, "name", (string)name, new { htmlAttributes = new { @class = "form-control telefones" } })

    <button id="remover-@Model.DivId" class="btnRemover">x</button>

    @Html.ValidationMessageFor(m => m.Numero, null, new { @data_valmsg_for = (string)name })
</div>
